MSSQL_CONN=Server=localhost,1433;Database=WorkshopCatalog;UID=sa;PWD=Workshop!2026Pass;Encrypt=yes;TrustServerCertificate=yes;
WORKSHOP_RO_CONN=Server=localhost,1433;Database=WorkshopCatalog;UID=workshop_ro;PWD=ReadOnly!2026;Encrypt=yes;TrustServerCertificate=yes;
